name: Build project

on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    permissions:
      contents: read
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install dependencies
        run: npm i

      - name: Build project
        run: npm run build

      - name: Serve
        run: |
          set -e
          
          SERVE_PATH="/opt/workspace/frontend"
          OLD_SERVE_PATH="${SERVE_PATH}-old"

          echo "Moving ${SERVE_PATH} to ${OLD_SERVE_PATH} and replacing with dist..."
          if [ -d $SERVE_PATH ]; then
            if mv ${SERVE_PATH}/ $OLD_SERVE_PATH && mv dist/ $SERVE_PATH; then
              echo "Folders moved successfully!"
            else
              echo "Folder move failed. Restoring ${SERVE_PATH}..."
              mv ${OLD_SERVE_PATH}/ $SERVE_PATH || echo "Restore failed! Please check manually."
              exit 1
            fi
          else
            echo "Created frontend folder at $SERVE_PATH"
            mkdir -p $SERVE_PATH
            mv dist/ $SERVE_PATH
          fi        
