name: Build project

on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    permissions:
      contents: read
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build image
        run: docker build --no-cache -t wifimemes/gova-frontend:latest -f docker/Dockerfile .

      - name: Deploy stack
        run: docker stack deploy -c docker/prod-compose.yaml gova_stack
